.table-container {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  border: 1px solid var(--main-black);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin: 16px;
  box-shadow: var(--main-black) 3px 3px;

  thead {
    th {
      padding: 16px;
      text-align: center;
      font-weight: 500;
      letter-spacing: 0.0075em;
      border-bottom: 1px solid var(--main-black);
      min-width: 50px;
      resize: horizontal;
      overflow: hidden;
    }    
  }

  tbody {
    td {
      padding: 16px;
      text-align: center;
      vertical-align: top;
      border-bottom: 1px solid var(--main-black);
    }
  }

  &.theme-light {
    background-color: var(--main-white);
    color: var(--main-black);

    thead {
      tr {
        background-color: var(--light-gray);
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: var(--main-white);
        }

        &:hover {
          background-color: var(--light-gray);
        }
      }
    }
  }
}
