.search-container {
  width: 100%;
  max-width: 1200px;
  margin: 16px 16px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 20rem;
  height: 40px;
  box-sizing: border-box;
  padding: 0 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.0075em;
  border: 1px solid var(--main-black);
  background-color: var(--main-white);
  color: var(--main-black);
  box-shadow: var(--main-black) 3px 3px;

  &:focus-visible {
    outline: none;
  }
}

.search-button {
  padding: 0 16px;
  height: 40px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.0075em;
  border: 1px solid var(--main-black);
  border-left: none;
  border-radius: 0;
  box-shadow: var(--main-black) 3px 3px;
  cursor: pointer;
  background-color: var(--main-white);
  color: var(--main-black);

  &:hover {
    border-color: #1c1b1a;
    background-color: var(--light-gray)
  }

  &:active {
    background-color: var(--dark-gray);
  }

  &:focus {
    outline: none;
  }
}
